<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.tics.comment.persistence.mybatis.mapper.ReplyMapper">
    <select id="listReplies"  resultType="com.jason.tics.comment.core.ReplyDo">
        select * from reply where reply_id in
        <foreach collection="replyIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="listCommentRepliesByColumn" resultType="com.jason.tics.comment.core.ReplyDo">
        select * from reply where comment_id = #{commentId}
        <if test="columnName != null">
            order by ${columnName}
            <if test="ascent">ASC</if>
            <if test="!ascent">DESC</if>
        </if>
        limit #{limit} offset #{offset}
    </select>

    <delete id="deleteReplies">
        delete from reply where reply_id in
        <foreach collection="replyIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>